@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
/*font-family: 'Red Hat Display', sans-serif;*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  font-size: 16px;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Red Hat Display', sans-serif;
}
.grid-container {
  margin: 30px auto;
  padding: 0 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.img img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.grid {
  max-width: 300px;
  display: grid;
  grid-template-rows: auto auto;
  background-color: #fff;
  border-radius: 15px;
}
.card-content {
  padding: 20px;
  text-align: center;
}
.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: hsl(225, 100%, 98%);
  align-items: center;
  margin: 35px 0;
  padding: 10px;
  border-radius: 6px;
}
button {
  background-color: hsl(245, 75%, 52%);
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.change a {
  text-decoration: none;
  color: ;
}
button a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
#main,
#main-des,
. {
  padding-bottom: 15px;
}
.cancel {
  margin-top: 15px;
  color: hsl(223, 47%, 23%);
}
#main {
  padding-bottom: 15px;
}
.attribution {
  width: 80%;
  text-align: center;
  padding-top: 10px;
}
.col{
  display: flex;
  align-items: center;
}
.col img{
  padding-right: 18px;
}
